<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerlinks}}
</head>
<body>
    {{>navbar}}
    <!-- main header -->
    <div class="main_header">

        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/photo rupam.jpg" alt="rupam" class="img-fluid" title="Rupam Technical" width="300px">
                        </figure>
                      
                    </div>
                    <!-- left side -->
                    <div class="col-md-6 col-12 main_header_left ">
                        <p>Welcome to Rupam Sah</p>
                        <h1>I am a <span class="txt_clr">Full Stack</span> Developer</h1>
                        <a href="https://rupamsah123.github.io/portfolio-website/" target="_blank"><button>About Me</button></a>
                    </div>
                    <!-- right side -->

                   
                </div>

            </div>
        </div>

    </div>
    <!-- footer code -->
    {{>footer}}
    
</body>
</html>